h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

.App {
    line-height: 22.5px;
}

.header {
    min-height: 80px;
    background-color: #87a96b;
    padding-left: 36px;
}

.logo {
    float:left;
    margin-right: 15px;
    padding-top: 15px;
}

.lis-info {
    float: left;
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    padding-top: 10px;
}

.lis-info .title {
    line-height: 36px;
    font-size:24px;
    color:white;
}

.lis-info .description {
    font-size:14px;
    color:white;
}

.content {
    padding: 10px;
    color: #666666;
    font-size: 14px;
}

.App-intro {
  font-size: large;
}

.question-form {
    margin: 0px auto;
    padding: 10px;
    width: fit-content;
    height: 75px;
    font-weight: bold;
}

textarea.question {
    width: 600px;
    height: 48px;
    background-color: lightgray;
}

button.submit-button {
    color: white;
    background-color: green;
    font-weight: bold;
    font-size: 16px;
}

button.reset-button {
    color: white;
    background-color: gray;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}
.textarea-box {
    float: left;
}

.select-box {
    float: left;
    text-align: center;
    padding: 10px;
}

.clear {
    clear: both;
}

.atom {
    margin: auto;
}

.submit-button-box {
    padding-top: 10px;
    text-align: center;
}

.question-answer {
    padding: 40px;
}

.question-box {
    color: black;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.answer-box {
    color: black;
    background-color: lightgray;
    border: 1px solid gray;
    padding: 10px;
}
